html {
  overflow-y: auto;
}

html,
html[theme='light'] {
  --colourPrimary: #3e6e21;
  --colourBlack: #000000;
  --colourWhite: #ffffff;
  --colourBackground: #ffffff;
  --colourSecondary: #757575;
  --colourBlackToWhite: #000000;
  --colourBlue: #1976d2;
}

html[theme='dark'] {
  --colourPrimary: #3e6e21;
  --colourBlack: #000000;
  --colourWhite: #ffffff;
  --colourBackground: #121212;
  --colourSecondary: #a9a9a9;
  --colourBlackToWhite: #ffffff;
  --colourBlue: #1976d2;
}
